ul{
  list-style-type: none;
  padding: 0;
}

footer{
  background-color: lighten(#e6e6e6, 5%);;
  padding: 1em 0;
}

.fa-check:hover,
.fa-pencil:hover,
.fa-sort-desc:hover,
.fa-sort-asc:hover {
  color: lightgreen;
}

.fa-trash-o:hover,
.fa-times:hover{
  color: red;
}

.hidden{
  display: none;
}

.header{
  text-align: center;
}
